<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.boot.modules.admin.mapper.MakeExamMapper">
  <resultMap id="BaseResultMap" type="com.springboot.boot.modules.admin.entity.MpMakePaper">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="exam_name" jdbcType="VARCHAR" property="examName" />
    <result column="exam_type" jdbcType="INTEGER" property="examType" />
    <result column="submit_time" jdbcType="INTEGER" property="submitTime" />
    <result column="exam_id" jdbcType="BIGINT" property="examId" />
    <result column="achievement_id" jdbcType="BIGINT" property="achievementId" />
    <result column="status_type" jdbcType="INTEGER" property="statusType" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dele_flag" jdbcType="INTEGER" property="deleFlag" />
    <result column="judge_grade" jdbcType="INTEGER" property="judgeGrade" />
    <result column="single_grade" jdbcType="INTEGER" property="singleGrade" />
    <result column="multiple_grade" jdbcType="INTEGER" property="multipleGrade" />
    <result column="analysis_grade" jdbcType="INTEGER" property="analysisGrade" />
    <result column="count_grade" jdbcType="INTEGER" property="countGrade" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, exam_name, exam_type, submit_time, exam_id, achievement_id, status_type, create_user, 
    create_time, update_user, update_time, dele_flag, judge_grade, single_grade, multiple_grade, 
    analysis_grade, count_grade, user_id
  </sql>
 <select id="searchExamMake" parameterType="com.springboot.boot.modules.admin.dto.exanmake.ExamMakeSearchDto" resultType="com.springboot.boot.modules.admin.vo.makeexam.ExamMakeSearchVo">
   SELECT
   a.id AS id,
   b.number AS number,
   a.exam_name AS examName,
   a.exam_type AS examType,
   a.submit_time AS submitTime,
   a.status_type AS status_type,
   a.count_grade AS countGrade,
   c.NAME AS authName
   FROM
   mp_make_paper a
   LEFT JOIN mp_user_authentication b ON a.user_id = b.id
   LEFT JOIN mp_auth c ON c.id = a.auth_id
    where 1= 1
   <if test="number !=null and number != ''">
     and b.number =#{number}
   </if>
   <if test="examId !=null and examId != ''">
     and a.exam_id =#{examId}
   </if>
   <if test="examType !=null and examType != ''">
     and a.exam_type =#{examType}
   </if>
   <if test="statusType !=null and statusType != ''">
     and a.status_type =#{statusType}
   </if>
 </select>
</mapper>