<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.boot.modules.admin.mapper.MpAuthHMapper">

    <select id="selectAllMpAuths" resultType="com.springboot.boot.modules.admin.vo.auth.MpAuthHVo">
        select a.* ,
        b.name as unitName ,
        c.name as departMentName,
        d.name as   domainName,
        e.name as   directionName
        from mp_auth a
        left join mp_unit b
        on a.unit_id = b.id
        left join mp_department c
        on a.department_id = b.id
        left join mp_auth_domain d
        on d.id= a.domain_id
        left join mp_auth_direction e
        on e.id= a.direction_id
        <trim prefix="where" prefixOverrides="and">
            a.dele_flag ='0'
            <if test="dto.name != null and dto.name != ''">
                and a.name = #{dto.name}
            </if>
            <if test="dto.directionId != null and dto.directionId != ''">
                and a.direction_id = #{dto.directionId}
            </if>
            <if test="dto.domainId != null and dto.domainId != ''">
                and a.domain_id = #{dto.domainId}
            </if>
            <if test="dto.authLevel != null and dto.authLevel != ''">
                and a.auth_level = #{dto.authLevel}
            </if>
            <if test="dto.certificateTime != null ">
                and a.certificate_time >= #{dto.dateCStart}
                and a.certificate_time <![CDATA[<]]>   #{dto.dateCEnd}


            </if>
        </trim>
    </select>

</mapper>