<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.boot.modules.admin.mapper.MpAuthHMapper">

    <select id="selectAllMpAuths" resultType="com.springboot.boot.modules.admin.vo.auth.MpAuthHVo">
        select a.* ,
        b.name as unitName ,
        c.name as departMentName,
        d.name as domainName,
        e.name as directionName
        from mp_auth a
        left join mp_unit b
        on a.unit_id = b.id
        left join mp_department c
        on a.department_id = b.id
        left join mp_auth_domain d
        on d.id= a.domain_id
        left join mp_auth_direction e
        on e.id= a.direction_id
        <trim prefix="where" prefixOverrides="and">
            a.dele_flag ='0'
            <if test="dto.id != null and dto.id != ''">
                and a.id = #{dto.id}
            </if>

            <if test="dto.directionId != null and dto.directionId != ''">
                and a.direction_id = #{dto.directionId}
            </if>
            <if test="dto.domainId != null and dto.domainId != ''">
                and a.domain_id = #{dto.domainId}
            </if>
            <if test="dto.authLevel != null and dto.authLevel != ''">
                and a.auth_level = #{dto.authLevel}
            </if>
            <if test="dto.certificateTime != null ">
                and a.certificate_time >= #{dto.dateCStart}
                and a.certificate_time <![CDATA[<]]>   #{dto.dateCEnd}
            </if>
            <if test="dto.name != null and dto.name != ''">
                and a.name like CONCAT("%",#{dto.name},"%")
            </if>
            order by a.create_time desc

        </trim>
    </select>

    <select id="selectAllMpAuthsList" resultType="com.springboot.boot.modules.admin.vo.auth.MpAuthHVo">
        select a.* ,
        b.name as unitName ,
        c.name as departMentName,
        d.name as domainName,
        e.name as directionName
        from mp_auth a
        left join mp_unit b
        on a.unit_id = b.id
        left join mp_department c
        on a.department_id = b.id
        left join mp_auth_domain d
        on d.id= a.domain_id
        left join mp_auth_direction e
        on e.id= a.direction_id
        <trim prefix="where" prefixOverrides="and">
            a.dele_flag ='0'
             and a.up_type ='1'
            <if test="dto.id != null and dto.id != ''">
                and a.id = #{dto.id}
            </if>

            <if test="dto.directionId != null and dto.directionId != ''">
                and a.direction_id = #{dto.directionId}
            </if>
            <if test="dto.domainId != null and dto.domainId != ''">
                and a.domain_id = #{dto.domainId}
            </if>
            <if test="dto.authLevel != null and dto.authLevel != ''">
                and a.auth_level = #{dto.authLevel}
            </if>
            <if test="dto.certificateTime != null ">
                and a.certificate_time >= #{dto.dateCStart}
                and a.certificate_time <![CDATA[<]]>   #{dto.dateCEnd}
            </if>
            <if test="dto.name != null and dto.name != ''">
                and a.name like CONCAT("%",#{dto.name},"%")
            </if>
            order by a.create_time desc
        </trim>
    </select>




    <select id="searchForFront" resultType="com.springboot.boot.modules.admin.vo.auth.MpAuthHVo">
        select a.* ,
        b.name as unitName ,
        c.name as departMentName,
        d.name as domainName,
        e.name as directionName
        from mp_auth a
        left join mp_unit b
        on a.unit_id = b.id
        left join mp_department c
        on a.department_id = b.id
        left join mp_auth_domain d
        on d.id= a.domain_id
        left join mp_auth_direction e
        on e.id= a.direction_id
        <trim prefix="where" prefixOverrides="and">
            a.dele_flag ='0'
            and a.up_type ='1'
            <if test="dto.userId != null and dto.userId != ''">
                and a.id = #{dto.userId}
            </if>

            <if test="dto.directionId != null and dto.directionId != ''">
                and a.direction_id = #{dto.directionId}
            </if>
            <if test="dto.domainId != null and dto.domainId != ''">
                and a.domain_id = #{dto.domainId}
            </if>
            <if test="dto.authLevel != null and dto.authLevel != ''">
                and a.auth_level = #{dto.authLevel}
            </if>
            <if test="dto.certificateTime != null ">
                and a.certificate_time >= #{dto.dateCStart}
                and a.certificate_time <![CDATA[<]]>   #{dto.dateCEnd}
            </if>
            <if test="dto.name != null and dto.name != ''">
                and a.name like CONCAT("%",#{dto.name},"%")
            </if>
            order by a.create_time desc
        </trim>
    </select>



    <select id="selectMyMpAuths" resultType="com.springboot.boot.modules.admin.vo.auth.MpAuthHVo">
        select a.* ,
        b.name as unitName ,
        c.name as departMentName,
        d.name as domainName,
        e.name as directionName
        from mp_auth a
        left join mp_unit b
        on a.unit_id = b.id
        left join mp_department c
        on a.department_id = b.id
        left join mp_auth_domain d
        on d.id= a.domain_id
        left join mp_auth_direction e
        on e.id= a.direction_id
        inner join mp_auth_user_sign_up f
        on f.auth_id = a.id
        <trim prefix="where" prefixOverrides="and">
            a.dele_flag ='0'
            and f.dele_flag='0'
            and a.up_type ='1'
            <if test="dto.userId != null and dto.userId != ''">
                and f.user_id = #{dto.userId}
            </if>
            order by create_time desc

        </trim>
    </select>


    <select id="selectFileId" resultType="java.lang.Long">
        select a.id
         from mp_attachment_info a,
         mp_business_attachment_info b,
         mp_auth  c
        where a.id=b.attachment_id
           and b.business_id = c.id
           and b.del_flag=0
           and c.id = #{id}
    </select>

    <select id="certifiQuery" resultType="com.springboot.boot.modules.admin.vo.test.MpUserAuthenticationVo">
        select
        c.id as id,
        a.name as name ,
        a.phone as phone ,
        c.name as authName,
        c.auth_level as authLevel,
        c.certificate_time as certificateTime,
        d.name as directionName,
        e.name as domainName
        from
        mp_user_authentication a
        inner join
        mp_auth_certificase b
        on a.id = b.user_id
        inner join
        mp_auth c
        on c.id = b.auth_id
        left join
        mp_auth_direction d
        on
        c.direction_id = d.id
        left join
        mp_auth_domain e
        on e.id = c.domain_id
        where
        b.dele_flag = '0'
        <if test="dto.phone != null and dto.phone != ''">
            and a.phone = #{dto.phone}
        </if>
        <if test="dto.number != null and dto.number != ''">
            and a.number = #{dto.number}
        </if>
        <if test="dto.id != null and dto.id != ''">
            and c.id = #{dto.id}
        </if>

    </select>


</mapper>