<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.boot.modules.admin.mapper.MpFirstClassifyMapper">
  <resultMap id="BaseResultMap" type="com.springboot.boot.modules.admin.entity.MpFirstClassify">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="first_classify_name" jdbcType="VARCHAR" property="firstClassifyName" />
    <result column="first_classify_descr" jdbcType="VARCHAR" property="firstClassifyDescr" />
    <result column="first_classify_type" jdbcType="INTEGER" property="firstClassifyType" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dele_flag" jdbcType="INTEGER" property="deleFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, first_classify_name, first_classify_descr, first_classify_type, create_user, 
    create_time, update_user, update_time, dele_flag
  </sql>
  <select id="selectByExample" parameterType="com.springboot.boot.modules.admin.entity.MpFirstClassifyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mp_first_classify
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mp_first_classify
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mp_first_classify
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.springboot.boot.modules.admin.entity.MpFirstClassifyExample">
    delete from mp_first_classify
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.springboot.boot.modules.admin.entity.MpFirstClassify">
    insert into mp_first_classify (id, first_classify_name, first_classify_descr, 
      first_classify_type, create_user, create_time, 
      update_user, update_time, dele_flag
      )
    values (#{id,jdbcType=BIGINT}, #{firstClassifyName,jdbcType=VARCHAR}, #{firstClassifyDescr,jdbcType=VARCHAR}, 
      #{firstClassifyType,jdbcType=INTEGER}, #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{deleFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.boot.modules.admin.entity.MpFirstClassify">
    insert into mp_first_classify
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="firstClassifyName != null">
        first_classify_name,
      </if>
      <if test="firstClassifyDescr != null">
        first_classify_descr,
      </if>
      <if test="firstClassifyType != null">
        first_classify_type,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleFlag != null">
        dele_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="firstClassifyName != null">
        #{firstClassifyName,jdbcType=VARCHAR},
      </if>
      <if test="firstClassifyDescr != null">
        #{firstClassifyDescr,jdbcType=VARCHAR},
      </if>
      <if test="firstClassifyType != null">
        #{firstClassifyType,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleFlag != null">
        #{deleFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.springboot.boot.modules.admin.entity.MpFirstClassifyExample" resultType="java.lang.Long">
    select count(*) from mp_first_classify
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mp_first_classify
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.firstClassifyName != null">
        first_classify_name = #{record.firstClassifyName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstClassifyDescr != null">
        first_classify_descr = #{record.firstClassifyDescr,jdbcType=VARCHAR},
      </if>
      <if test="record.firstClassifyType != null">
        first_classify_type = #{record.firstClassifyType,jdbcType=INTEGER},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleFlag != null">
        dele_flag = #{record.deleFlag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mp_first_classify
    set id = #{record.id,jdbcType=BIGINT},
      first_classify_name = #{record.firstClassifyName,jdbcType=VARCHAR},
      first_classify_descr = #{record.firstClassifyDescr,jdbcType=VARCHAR},
      first_classify_type = #{record.firstClassifyType,jdbcType=INTEGER},
      create_user = #{record.createUser,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      dele_flag = #{record.deleFlag,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.boot.modules.admin.entity.MpFirstClassify">
    update mp_first_classify
    <set>
      <if test="firstClassifyName != null">
        first_classify_name = #{firstClassifyName,jdbcType=VARCHAR},
      </if>
      <if test="firstClassifyDescr != null">
        first_classify_descr = #{firstClassifyDescr,jdbcType=VARCHAR},
      </if>
      <if test="firstClassifyType != null">
        first_classify_type = #{firstClassifyType,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleFlag != null">
        dele_flag = #{deleFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.boot.modules.admin.entity.MpFirstClassify">
    update mp_first_classify
    set first_classify_name = #{firstClassifyName,jdbcType=VARCHAR},
      first_classify_descr = #{firstClassifyDescr,jdbcType=VARCHAR},
      first_classify_type = #{firstClassifyType,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dele_flag = #{deleFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>